.caixa{
    background-color: rgb(52, 11, 119);
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: rgb(red, green, rgb(62, 22, 207)) ;
    color: white !important;
}

.postagens{
    background-color: white;
}